.filter-text {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 20px;
}
.filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 45px;
  width: 100%;
}
.input {
  height: 30px;
  padding-left: 10px;
}
