.button {
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: green;
  font-size: 16px;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  color: green;
  background-color: white;
}

.container {
  position: fixed;
  right: 40px;
  left: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: green;
  margin-bottom: 40px;
  z-index: 999;
}

.usermail {
  font-size: 14px;
  color: white;
}

.username {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
